*::selection {
    color: saddlebrown;
    background-color: floralwhite;
}

body{
    background-color : floralwhite;
}

#main{
    margin-right: 5%;
    margin-left: 5%;
}

#Fixed {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    border-radius : 30px;
}

.Titre {
    width : 100%;
}

.Titre > h1 {
    text-align :  center;
    font-family : Georgia;
    font-size : 60px;
    padding-top : 10px;
    padding-bottom : 20px;
}


#image1 {
    border-radius : 30px;
    background-size : cover;
    grid-row : 1;
    width : 100%;
    background-color: white;
}

#texte1{
    grid-row : 2;
    background-color : white;
    box-shadow: 0 0 3px black;
}

    #texte1 > h3 {
        font-size: 30px;
        padding: 8px;
    }

    #texte1 > p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        padding: 15px;
    }

#texte1 > h3 > a {
    text-decoration : none;
    color: darkgray;
}

#texte2 {
    grid-row: 3;
    box-shadow: 0 0 3px black;
}

    #texte2 > h3 {
        font-size: 30px;
        padding: 8px;
    }

    #texte2 > p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        padding: 15px;
    }

#texte2 > h3 > a {
    text-decoration: none;
    color: darkgray;
}

fieldset{
    border : none;
}
.login{
    text-align: center;
    padding: 25px;
}

input[type=text]{
    width: 50%;
    background-color: whitesmoke;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

.bouton_login{
    width: 25%;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px black;
    cursor: pointer;
}

.deconnexion{
    border: solid black 2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    display:block;
    font-style: italic;
}

.deconnexion:hover{
    color : saddlebrown ;
    background-color: whitesmoke;
}

.creation_compte{
    display: block;
    text-align: center;
    border: solid black 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.creation_compte>a{
    font-style: italic;
    text-decoration: none;
    color: black;
}

.creation_compte>a:hover{
    color : saddlebrown ;
    background-color: whitesmoke;
}

/* Début popup connexion */
.popup {
    background-color : floralwhite;
    overflow: hidden;
    text-align: center;
  }
  .box {
    width: 320px;
    margin: 10rem auto;
    padding-top: 10rem;
    background: rgba(255,255,255,0.3);
    padding: 2.5rem;
    border: 2px solid saddlebrown;
    border-radius: 20px/50px;
  }
  .button {
    font-size: 1.3rem;
    padding: 1rem;
    color: saddlebrown;
    border: 2px solid saddlebrown;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(255,255,255,0.25);
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: saddlebrown;
    color: floralwhite;
  }
  .popupp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
  }
  .popupp:target {
    visibility: visible;
    opacity: 1;
  }
  .popup1 {
    margin: 6rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 0.4s ease-in-out;
  }
  .popup1 .cross {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
  }
  .popup1 .cross:hover {
    color: saddlebrown;
  }
/* Fin popup connexion */

@media only screen and (min-width : 768px) {
    .Titre {
        width: 100%;
        font-size: 30px;
    }

        .Titre > h1 {
            text-align: center;
            font-family: Georgia;
            font-size: 120px;
        }

        .Titre > p {
            padding-left: 10%;
            font-size: 30px;
        }

    #Fixed {
        display: grid;
        grid-template-columns: 1fr 6fr 6fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        border-radius: 10px;
    }

    #image1 {
        grid-column: 2;
        grid-row: 1;
    }

        #image1:hover {
            background-image: src(AImages/chein+maitre.jpg);
        }

    #texte1 {
        grid-column: 3;
        grid-row: 1;
        font-family: 'Palatino Linotype';
    }

    #texte2 {
        grid-row: 2;
        grid-column: 2;
        background-color: white;
    }

        #texte2 > h3 > a {
            text-decoration: none;
            color: darkgray;
        }

        #texte2 > h3 {
            font-size: 30px;
            padding: 8px;
        }

        #texte2 > p {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

    #image2 {
        grid-row: 2;
        grid-column: 3;
        width: 400px;
    }
}

@media only screen and (min-width : 375px) {
    .Titre {
        width: 100%;
        font-size: 30px;
    }

        .Titre > h1 {
            text-align: center;
            font-family: Georgia;
            font-size: 120px;
        }

        .Titre > p {
            padding-left: 10%;
            font-size: 30px;
        }

    #Fixed {
        display: grid;
        grid-template-columns: 1fr 6fr 6fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        border-radius: 10px;
    }

    #image1 {
        grid-column: 2;
        grid-row: 1;
    }

        #image1:hover {
            background-image: src(Images/chein+maitre.jpg);
        }

    #texte1 {
        grid-column: 3;
        grid-row: 1;
        font-family: 'Palatino Linotype';
    }

    #texte2 {
        grid-row: 2;
        grid-column: 2;
        background-color: white;
    }

        #texte2 > h3 > a {
            text-decoration: none;
            color: darkgray;
        }

        #texte2 > h3 {
            font-size: 30px;
            padding: 8px;
        }

        #texte2 > p {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

    #image2 {
        grid-row: 2;
        grid-column: 3;
        width: 400px;
    }
}