h1,h3{
    text-align: center;
}

div{
    margin-bottom: 30px;
}

table{
    width: 75%;
    border: solid black 2px;
    border-radius: 5px;
    margin : 25px auto  25px auto;
}

.Sujet{
    text-align: center;
    font-size: 25px;
}

.Pseudo{
    text-align: left;
    padding-left: 50px;
}

.Date{
    text-align: right;
    padding-right: 50px;
}

.Message{
    text-align: left;
    border-style: dotted none none none;
    padding: 5px;
    padding-bottom: 50px;
}

textarea{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100px;
}

input{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 25px;
}

button{
    resize: none;
    display: block;
    margin : 5px auto 5px auto;
    width: 25%;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px black;
}

.ajout_sujet{

}