.topheader{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-top : 5px;
    margin-top : 5px;
    
}
/* Début popup connexion */
.toppopup {
    background-color: floralwhite;
    overflow: hidden;
    text-align: center;
    width: 55% auto;
    margin-bottom: 0;
    float: right;
    margin-top : 10 px;  
    padding-top: 30px;
}

.topbox {
    width: 220px;
    margin-left: 0;
    margin-bottom : 10px;
    padding-top: 0;
    background: rgba(255,255,255,0.3);
    padding: 0;
    border: 0px solid saddlebrown;
    border-radius: 20px/50px;
    
}

.topbutton {
    font-size: 1.3rem;
    padding: 10px;;
    color: saddlebrown;
    border: 2px solid saddlebrown;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(255,255,255,0.25);
    transition: all 0.3s ease-out;
}

    .topbutton:hover {
        background: saddlebrown;
        color: floralwhite;
    }

.toppopupp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
}

    .toppopupp:target {
        visibility: visible;
        opacity: 1;
    }

.toppopup1 {
    margin: 6rem auto;
    padding: 2rem;
    background: floralwhite;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.toppopup1 h2 {
    color : saddlebrown;
}

    .toppopup1 .topcross {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        transition: 0.3s ease;
        color: black;
    }

        .toppopup1 .topcross:hover {
            color: saddlebrown;
        }

.deconnexion {
    border: 0px;
    margin-left: 10px;
}

.deconnexion:hover{
    background-color: floralwhite;
}
/* Fin popup connexion */

/* Début formulaire de connexion et bouton de création de compte */
.login {
    text-align: center;
    padding: 25px;
}

input[type=text] {
    width: 50%;
    background-color: whitesmoke;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius : 10px/10px;
}

.bouton_login {
    margin-top : 20px;
    width: 25%;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px saddlebrown;
    cursor: pointer;
    border-color : saddlebrown;
    color: saddlebrown;
}

.bouton_login:hover{
    color: floralwhite;
    background-color: saddlebrown;
}

#button_creation_compte{
    margin-top : 20px;
    width: 25%;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px saddlebrown;
    cursor: pointer;
    border-color : saddlebrown;
    color: saddlebrown;
}

#button_creation_compte:hover{
    color: floralwhite;
    background-color: saddlebrown;
}

#button_deconnexion{
    margin-top : 20px;
    width: 150px;
    padding: 5px;
    border-radius: 20px/50px;
    cursor: pointer;
    border-color : saddlebrown;
    color: saddlebrown;
    margin-left: 10px;
    transition: all 0.3s ease-out;
    background-color: floralwhite;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#button_deconnexion:hover{
    color: floralwhite;
    background-color: saddlebrown;
}

.deconnexion1{
    margin-left: 10px;
}
/* Fin formulaire de connexion et bouton de création de compte */

/* Début Logo + Nom du site */
.topheader div img {
    margin-top : 10px;
}

.topheader div p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size : 60px;
}

.topheader div p a{
    text-decoration: none;
    color : black;
}
/* Fin Logo + Nom du site */