:root{
    --hauteur-menu : 60px ;
}

* {
    margin: 0;
    padding: 0;
    font-family: American Typewriter, serif ;
}
/*D�but menu*/
nav {
    width : 100% ;  /*Permet au menu de prendre toute la place en largeur*/
    font-size : medium ;
    position : sticky ;  /*il reste coll� en haut de la page*/
    top : 0 ;  /*le menu est le plus possible en haut de la page*/
    clear : both;
}

nav > ul {
    display: flex;  
    text-align: center;
    box-shadow: 0px 1px 2px 1px ;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    background-color : white ;
    position : relative ;
    height : 100% ;
    flex : 1 ;
}

nav > ul > li > a {
    position : absolute ;
    top : 50% ;
    left : 50% ;
    transform : translate(-50%, -50%);
}

li a {
    text-decoration : none ;
    color : black ;
}

.menu-deroulement a::after {
    margin-left : 7px ;
    display : inline-block ;
}

.sous-menu {
    margin-top : var(--hauteur-menu) ;
    width : 100% ;
    text-align : left ;
    background-color : white ;
    border-radius : 3px ;  /*rend les bords des sous-menus arrondis*/
    overflow : hidden ;  /*permet de cacher les sous-menus sous les menus*/
    max-height : 0 ;   /*permet de cacher les sous-menus sous les menus*/
}

.sous-menu > li > a {
    height : 50px ;
    padding-left : 20px ;
    width : 100% ;
    align-items : center ;
    display : flex ;
}

nav > ul > li:hover > a {
    color : saddlebrown ;
}

.sous-menu > li:hover {
    background-image : url(../Images/Chienquicourt.gif) ; /*met une image de chien anim�e lorsqu'on d�file les sous-menus*/
    background-size : contain ;  /*permet de faire que l'image rentre dans les balises des sous-menus*/
    background-position : right center ; /*l'image est � droite*/
    background-repeat : no-repeat ;  /*en seulement 1 exemplaire*/
}

.sous-menu > li:hover > a {
    color : saddlebrown ;
}

@keyframes d�file { /*permet de cr�er un fl�che qui va tourner pour par la suite faire d�rouler les sous-menus*/
    0% {
        transform : rotate(0deg) ;
    }
    100% {
        transform : rotate(90deg) ;
    }
}

.menu-deroulant:hover > a:after {
    animation : d�file 0.2s linear forwards ; /*le forwards permet de faire en sorte que l'animation reste � la fin de celle-ci*/
}

@keyframes sousmenu {  /*va permettre de faire d�filer les sous-menus*/
    0% {
        box-shadow : 0px 2px 2px 1px ;
        border-top : 0px solid black ;
    }
    30% {
        box-shadow : 0px 2px 2px 1px black ; /*permet de faire en sorte que l'animation soit moins brutale*/
    }
    100% {
        max-height: 50em;  /*permet de ne plus cacher les sous-menus*/
        border-top: 0px solid black;
        box-shadow: 0px 2px 2px 1px black;
    }
}

.menu-deroulant:hover > .sous-menu { /*animation finale des sous-menus*/
    animation : sousmenu 1s forwards ;  /*le forwards permet que l'animation reste fixe � la fin de celle-ci*/
}
/*Fin menu*/
/*D�but haut de page*/
#header > img {
    margin-top : 10px;
    margin-left : 30%;
    float : left;
}

#header > p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size : 60px;
    float : left;
}

#header > p > a{
    text-decoration : none;
    color : black;
}
/*fin haut de page*/
/*d�but footer*/
.footer{
    background-color : antiquewhite;
    display : grid;
    grid-template-columns : 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows : 1fr 1fr;
    padding : 20px;
}

.liste1{
    grid-column : 2;
    grid-row : 1;
    text-align: center;
}

.liste2{
    grid-column : 3;
    grid-row : 1;
    text-align : center;
}

.liste3{
    grid-column : 4;
    grid-row : 1;
    text-align : center;
}

.social {
    grid-column : 3;
    grid-row: 2;
    text-align : center;
    margin-top : 20px;
    opacity : 0.6;
}

.social > a:hover {
    opacity : 0.8;
}

.liste1 > ul, .liste2 > ul, .liste3 > ul {
    list-style: none;
}

.liste1 > ul > li > ul, .liste2 > ul > li > ul, .liste3 > ul > li > ul {
    list-style: none;
}

.liste1 > ul > li > a, .liste2 > ul > li > a, .liste3 > ul > li > a {
    color: lightslategrey;
    font-size: large;
    font-family: Bradley Hand, cursive;
}

.liste1 > ul > li > ul > li > a, .liste2 > ul > li > ul > li > a, .liste3 > ul > li > ul > li > a{
    color : Black;
    font-family : Bredley Hand, cursive;
    
}

.liste1 > ul > li > a:hover, .liste2 > ul > li > a:hover, .liste3 > ul > li > a:hover {
    color : saddlebrown;
}

.liste1 > ul > li > ul > li > a:hover, .liste2 > ul > li > ul > li > a:hover, .liste3 > ul > li > ul > li > a:hover{
    color : saddlebrown;
}

#logo {
    max-width: 50px;
    height: auto;
}
/*fin footer*/
@media only screen and (max-width : 375px) {
    .social {
        text-align: center;
        margin-top: 20px;
        opacity: 0.6;
    }

    #social1 {
        grid-column: 2;
        grid-row: 2;
    }

    #social2 {
        grid-column: 3;
        grid-row: 2;
    }

    #social3 {
        grid-column: 4;
        grid-row: 2;
    }
}

@media only screen and (max-width : 768px) {
    .social {
        text-align: center;
        margin-top: 20px;
        opacity: 0.6;
    }

    #social1 {
        grid-column: 2;
        grid-row: 2;
    }

    #social2 {
        grid-column: 3;
        grid-row: 2;
    }

    #social3 {
        grid-column: 4;
        grid-row: 2;
    }
}
